<ul>
    {{#if author_list}}

    {{!-- {{book_list}} --}}
     {{#each author_list}}
        <li>
            <a href="{{url}}" title="{{title}}">{{name}}  |
			
			{{!--{{date_of_birth}} --}}
			{{date_of_birth_formatted}} 
			- 
			{{!--{{date_of_death}}--}}
			{{date_of_death_formatted}}
			</a></li>
        {{/each}}
    {{else}}
        <li>There are no books.</li>
    {{/if}}
</ul>