{{!-- {{author}}
<hr>
{{author_books}} --}}

<h2 class="">Author: {{author.name}}</h2>
<p class=" mb-4">Date Of Birth: {{author.date_of_birth_formatted}} - Date Of Death: {{author.date_of_death_formatted}}</p>


<h3 class=" mb-3">Books</h3>

<dl>
    {{#if author_books}} {{#each author_books}}
    <dt>
        <a href="{{url}}"> {{title}}</a>
    </dt>
    <dd>
        {{summary}}
    </dd>

    {{/each}} {{else}}
    <p>This author has no books.</p>
    {{/if}}
</dl>