{{!-- {{book_list}} --}}
<ul>
    {{#if book_list}} {{!-- {{book_list}} --}} {{#each book_list}}
    <li>
        <a href="{{url}}" title="{{title}}">{{title}} | {{author.name}}</a>
    </li>
    {{/each}} {{else}}
    <li>There are no books.</li>
    {{/if}}
</ul>