{{!-- {{bookinstance}} --}}

<h2>ID: {{bookinstance._id}}</h2>
<p> <strong> Title</strong> : <a href="{{bookinstance.book.url}}"> {{bookinstance.book.title}}</a></p>
<p> <strong> Imprint</strong> :  {{bookinstance.imprint}}</p>
<p>
    <strong> Status </strong> : 
    {{#ifCond bookinstance.status '==' 'Available' }}
            <span class="text-success">{{bookinstance.status}}</span>
    {{/ifCond}}
    {{#ifCond bookinstance.status '==''Maintenance'}}
        <span class="text-danger">{{bookinstance.status}}</span>
    {{/ifCond}}
    {{#ifCond bookinstance.status '==' 'Loaned'}}
        <span class="text-warning">{{bookinstance.status}}</span>
    {{/ifCond}}
</p>
<p>
    {{#ifCond status '!=' 'Available' }} 
    <strong>Due back</strong> {{bookinstance.due_back}}
            {{/ifCond}}
    
</p>
 