{{!-- {{bookinstance_list}} {{#each bookinstance_list}} {{#if }} {{/each}} --}} {{!-- {{bookinstance_list}} --}}
<ul>
    {{#if bookinstance_list}} {{#each bookinstance_list}}
    <li>
        <a href="{{url}}">
            {{book.title}} : {{imprint}} -- {{#ifCond status '==' 'Available' }}
            <span class="text-success">{{status}}</span>
            {{/ifCond}} {{#ifCond status '==''Maintenance'}}
            <span class="text-danger">{{status}}</span>
            {{/ifCond}} {{#ifCond status '==' 'Loaned'}}
            <span class="text-warning">{{status}}</span>
            {{/ifCond}} {{#ifCond status '!=' 'Available' }} {{!--
            <span>Due: {{due_back}}</span> --}}
            <span>Due: {{due_back_formatted}}</span>
            {{/ifCond}}
        </a>
    </li>
    {{/each}} {{else}}
    <li>There are no book copies in this library.</li>
    {{/if}}
</ul>