
extends ../layout

block content
  h1= title
  
  ul
  each genre in genre_list
    li 
      a(href=genre.url) #{genre.name} 
      | (#{genre.date_of_birth} - #{genre.date_of_death})

  else
    li There are no genres.