{{!-- {{genre}}

<hr> 
{{genre_books}}
<hr>  --}}

<h2 class=" mb-3">Genre: {{genre.name}}</h2>
<h3 class=" mb-3">Books</h3>

<dl>
    {{#if genre_books}} {{#each genre_books}}
    <dt>
        <a href="{{url}}"> {{title}}</a>
    </dt>
    <dd>
        {{summary}}
    </dd>

    {{/each}} {{else}}
    <p>This genre has no books</p>
    {{/if}}
</dl>